{% macro book_form(current_book=None, is_edit=False) %}
<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

<form action="{% if is_edit %} {{ url_for('book.edit', book_id=current_book.id) }} {% else %} {{ url_for('book.create') }} {% endif %}" method="POST" enctype="multipart/form-data">
    <div class="row">
        {% if request.endpoint in ['book.create'] %}
        <div class="mb-2">
            <label for="cover_img">Обложка</label>
            <input class="form-control" type="file" name="cover_img" id="cover_img">
        </div>
        {% endif %}
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mb-2">
                    <label for="bookName">Название книги</label>
                    <input class="form-control" type="text" id="bookName" name="bookName" value="{{ current_book.name or '' }}">
                </div>
                <div class="col-md-6 mb-2">
                    <label for="author">Автор книги</label>
                    <input class="form-control" type="text" id="authorName" name="authorName" value="{{ current_book.author or '' }}">
                </div>
            </div>
            <div class="mb-2">
                <label for="genre">Жанры</label>
                <select multiple class="form-select" id="genre" name="genre_id">
                    <option value="0">Не выбрано</option>
                    {% for item in genres %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <div class="col-6 mb-2">
                    <label for="publisher">Издательство</label>
                    <input class="form-control" type="text" id="publisher" name="publisher" value="{{ current_book.publisher or '' }}">
                </div>
                <div class="col-3 mb-2">
                    <label for="pages">Количество страниц</label>
                    <input class="form-control" type="number" id="pages" name="pages" value="{{ current_book.pages or '666' }}">
                </div>
                <div class="col-3 mb-2">
                    <label for="year">Год издания</label>
                    <input class="form-control" type="number" id="year" name="year" value="{{ current_book.year or '2023' }}">
                </div>
            </div>
            <div class="mb-2">
                <label for="description">Описание книги</label>
                <textarea name="description" id="description">{{ current_book.description or '' }}</textarea>
                <script>const easymde = new EasyMDE({element: document.getElementById('description')});</script>
            </div>
        </div>
    </div>
    <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
{% endmacro %}