{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-3 text-center text-uppercase font-weight-bold">Просмотр книги</h1>
    <div class="book-card container">
        <div class="row">
            <div class="book-image col-6 container">
            <img src="{{ current_book.get_img().url }}" class="img-fluid rounded-start" style="width: 300px;">
            </div>
            <div class="book-details col-6">
                <div class="book-name">
                    {{ current_book.name }}
                </div>
                <div class="book-author">
                    {{ current_book.author }}
                </div>
                <div class="book-year">
                    {{ current_book.year }}
                </div>
                <div class="book-pages">
                    {{ current_book.pages }}
                </div>
                <div class="book-rating">
                    Рейтинг: 0
                </div>
                <div class="book-publisher">
                    {{ current_book.publisher }}
                </div>
                <div class="book-description">
                    {{ current_book.description | safe }}
                </div>
                <div class="book-genres">
                    <ul>
                        {% set param = current_book.get_genres() %}
                        {% if param %}
                            {% for item in param %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="book-reviews">
                    Количество рецензий: <span>{{ current_book.reviews|length }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}