{% extends 'base.html' %}
{% from 'pagination.html' import pagination %}

{% block content %}

{% if current_user.is_authenticated %}
    Ваш логин: {{ current_user.login }}.
{% else %}
    Вы не авторизированный пользователь.
{% endif %}

<h1 class="pt-3 text-warning text-center">Список книг</h1>
<div class="container">
    <div class="book-list row px-3">
    {% for current_book in books %}
        <div class="book-card bg-light rounded col-md-5 m-5 p-2 text-dark">
            <div class="row">
                <div class="book-image col-6">
                <img src="{{ current_book.get_img().url }}" class="img-fluid rounded-start" style="width: 300px;">
                </div>
                <div class="book-details col-6">
                    <div class="book-name">
                        {{ current_book.name }}
                    </div>
                    <div class="book-author">
                        {{ current_book.author }}
                    </div>
                    <div class="book-year">
                        {{ current_book.year }}
                    </div>
                    <div class="book-rating">
                       Рейтинг: {{ avg_list[current_book.id - 1] }}
                    </div>
                    <div class="book-publisher">
                        {{ current_book.publisher }}
                    </div>
                    <div class="book-description">
                        {{ current_book.description | safe }}
                    </div>
                    <div class="book-genres">
                        <ul>
                        {% set param = current_book.get_genres() %}
                        {% if param %}
                            {% for item in param %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        {% endif %}
                        </ul>
                    </div>
                    <div class="book-reviews">
                        Количество рецензий: <span>{{ current_book.reviews|length }}</span>
                    </div>
                </div>
            </div>
            <div class="btn-panel row py-3">
                <div class="details-btn col-3">
                    <a class="btn btn-primary text-light" href="{{ url_for('book.show', book_id=current_book.id) }}">Обзор</a>
                </div>
                {% if current_user.is_authenticated and (current_user.role_id == 2 or current_user.role_id == 3) %}
                <div class="edit-btn col-3">
                    <a class="btn btn-primary text-light" href="{{ url_for('book.edit', book_id=current_book.id) }}">Редактировать</a>
                </div>
                {% endif %}
                {% if current_user.is_authenticated and current_user.role_id == 3 %}
                <div class="delete-btn col-3">
                    <button type="button" class="btn btn-danger" data-url="{{ url_for('book.delete', book_id=current_book.id) }}" data-bs-toggle="modal" data-bs-target="#deleteModal">Удалить</button>
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
    {% if current_user.is_authenticated and current_user.role_id == 3 %}
    <div class="create-btn px-3">
        <a class="btn btn-primary text-light" href="{{ url_for('book.create') }}">Добавить книгу</a>
    </div>
    {% endif %}
</div>

<div class="container justify-content-center px-5 py-2 mx-5">
    {{ pagination(page, page_count, request.endpoint) }}
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Удаление Книги</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить Книгу - 
                <span class="delete-book-name"></span>?
                <form action="" class="d-none" method="POST">
                    <input type="submit" id="submit-delete">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <label for="submit-delete" class="btn btn-danger mb-0">Удалить</label>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='delete.js')}}"></script>
{% endblock %}